@media screen and (max-width: 576px){
/* ====================Header Section Starts====================== */
nav ul
{
    display: none;
}
.menu-bar
{
    display: block;
}
/* ====================Header Section Ends====================== */

/* ====================Banner Section Starts====================== */
.banner-container
{
    flex-direction: column;
    gap: 1.8rem;
}
.banner-heading
{
    padding-right: 20px;
    font-size: 3rem;
}
.banner-description{
    padding-right: 20px;
}
/* ====================Banner Section Ends====================== */

/* ====================Habits Section Ends====================== */

.habit-heading
{
    font-size: 2rem;
}
.habit-description
{
    margin: 1rem 0rem;
    font-size: 1.125rem;
}
.habit-img-container
{
    flex-direction: column;
}
/* ====================Habits Section Ends====================== */

    
}