@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: "Inter", sans-serif;
    background-color: #000;
    color: #fff;
}

/* ====================Header Section Starts====================== */
header
{
    margin: 1.25rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-section h2
{
    font-size: 2rem;
    color: #E6533C;                          
    font-style: italic;
}
nav > ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.25rem;
}
nav ul li
{
    font-size: 1.125rem;
    color: rgb(221, 220, 220);
    font-weight: 400;
    padding: 10px 15px;
    cursor: pointer;
}
.home
{
    background-color: #E6533C;
    border: none;
    border-radius: 18px;
}
.menu-bar
{
    display: none;
}
.menu-bar i{
    font-size: 1.125rem;
}
/* ====================Header Section Ends====================== */
