@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: "Inter", sans-serif;
    background-color: #000;
    color: #fff;
}

/* ==========Common Items================ */
.btn
{
    padding: 12px 18px;
    background-color: #E6533C;
    border: none;
    color: white;
    font-size: 1.25rem;
    border-radius: 30px;
    font-weight: normal;
    cursor: pointer;
}
.download
{
    padding: 12px 18px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 1.25rem;
    border-radius: 30px;
    font-weight: normal;
    cursor: pointer;
}


/* ====================Header Section Starts====================== */
header
{
    margin: 1.25rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-section h2
{
    font-size: 2rem;
    color: #E6533C;                          
    font-style: italic;
}
nav > ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.25rem;
}
nav ul li
{
    font-size: 1.125rem;
    color: rgb(221, 220, 220);
    font-weight: 400;
    padding: 10px 15px;
    cursor: pointer;
}
.home
{
    background-color: #E6533C;
    border: none;
    border-radius: 18px;
}
.menu-bar
{
    display: none;
}
.menu-bar i
{
    font-size: 1.125rem;
}
/* ====================Header Section Ends====================== */


main
{
    width: 80%;
    margin: 3rem auto;
}
/* ====================Banner Section Ends====================== */
.banner-container 
{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.banner-heading
{
    font-size: 4.4rem;
    padding-right: 300px;
}
.banner-description
{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.125rem;
    margin: 1.25rem 0rem;
    padding-right: 20rem;
}
.banner-content-btn
{
    display: flex;
    gap: 1.5rem;
}
.banner-img-container
{
    position: relative;
}
.floating-card-1
{
    position: absolute;
    top: 10.6rem;
    right: -1.25rem;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 15px;
}
.floating-card-1 h3
{
    font-size: 1.6rem;
    font-weight: 800;
}
.floating-card-2
{
    display: flex;
    align-items: center;
    gap: .625rem;
    position: absolute;
    bottom: 6.25rem;
    left: -3rem;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 15px;
}
.floating-card-2 h3
{
    font-size: 1.6rem;
    font-weight: 800;
}
.round
{
    position: relative;
    background-color: #E6533C;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.round i
{
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
}
/* ====================Banner Section Ends====================== */

/* ====================Habits Section Starts====================== */
.habits
{
    text-align: center;
    margin-top: 5rem;
}
.habit-heading
{
    font-size: 3rem;
}
.habit-description
{
    margin: 1rem 18rem;
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.125rem;
}
.habit-img-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.habit-img img
{
    border-radius: 100%;
}
.habit-img h4
{
    margin: 0.625rem;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
}
.habit-img p
{
    text-align: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.50);
}
/* ====================Habits Section Ends====================== */

/* ====================Run Section Starts====================== */
.run-container
{
    background-color: #222;
    margin-top: 6rem;
    padding: 1.8rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.run-heading
{
    font-size: 3rem;
    padding-right: 18rem;
}
.run-description
{
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.50);
    padding-right: 18rem;
    margin: 1rem 0rem;
}
.run-img-container img
{
    width: 400px;
    border-radius: 20px;
}
/* ====================Run Section Ends====================== */

/* ====================BMI Section Starts====================== */
.bmi-section
{
    margin-top: 5rem;
    text-align: center;
}
.bmi-heading
{
    font-size: 3rem;
}
.bmi-description
{
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.50);
    margin: 0.65rem 0rem;
    padding:0rem 18rem;
}
.bmi-contents
{
    margin: 3rem auto;
    padding: 3.75rem;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bmi-table h3
{
    font-size: 1.8rem;
}
.bmi-table table
{
    border-color: rgba(255, 255, 255, 0.10);
    margin-top: 1.8rem;
    width: 25rem;
    height: 18rem;
    border-collapse: collapse;
}
.bmi-table table td
{
    color: rgba(255, 255, 255, 0.50);
}
.bmi-form h3
{
    font-size: 1.8rem;
}
.bmi-form p
{
    font-size: 1rem;
    color:  rgba(255, 255, 255, 0.50);
    width: 30rem;
    margin: 1rem 10rem;
}
.bmi-form form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}
.bmi-form input,select
{
    background-color:rgba(84, 84, 84, 0.43) ;
    color: rgb(172, 173, 173);
    padding: 1rem 1.25rem;
    font-size: 1.125rem;
    outline: none;
    border-radius: 10px;
    border: none;
}
.bmi-form input::placeholder
{
    color: rgba(255, 255, 255, 0.60);

}
#colls
{
    grid-column: 1 / span 2;
}
/* ====================BMI Section Ends====================== */

/* ====================Our Team Section Starts====================== */
.team
{
    text-align: center;
    margin-top: 4rem;
}
.team-heading
{
    font-size: 3rem;
}
.team-description
{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.125rem;
    margin: 0.625rem;
    padding: 0rem 15rem;
}
.team-img-container
{
    margin-top: 3rem;
    padding: 1.25rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.10);    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.8rem;
}
.trainer-img
{
    position: relative;
}
.trainer-img img
{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    opacity: 0.7;
}
.trainer-img h6
{
    position: absolute;
    bottom: 3rem;
    left: 1.8rem;
    font-size: 1.125rem;
    font-weight: 700;
}
.trainer-img p 
{
    position: absolute;
    bottom: 1rem;
    left: 1.8rem;
    font-size: 1rem;
    font-weight: 400;  
    color: rgba(255, 255, 255, 0.50);
}

/* ====================Our Team Section Ends====================== */

/* ====================Footer Section Starts====================== */
footer
{
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.10);    
    padding: 4rem;
}
.footer-container
{
    width: 80%;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}
.logo-section p
{
    margin-top: 1rem;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.50);
}
.service
{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.service p
{
    font-size: 1.125rem;
    color: #ffffff7c;
}
hr
{
    width: 80%;
    margin: 3rem auto;
    border: 1px solid rgba(255, 255, 255, 0.10);
}
.right
{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
}
/* ====================Footer Section Ends====================== */

